<p><label><%= l :lockout_threshold %></label><%= text_field_tag 'settings[lockout_threshold]', @settings['lockout_threshold'], size: 100 %></p>
<p><label><%= l :custom_field_id %></label><%= text_field_tag 'settings[custom_field_id]', @settings['custom_field_id'], size: 100 %></p>
